<!-- 
Copy this file as ngh.secrets.config and fill it with the GitHub credentials
to use during development, instead of putting them directly in App.config.
This way you won't accidentally leak your credentials to the project repository
(secrets.config is included in .gitignore)

-->
<appSettings>
  <add key="GithubUser" value="Your github user name to be used during development"/>
  <add key="GithubPasswordOrToken" value="Your github password or token to be used during development"/>
</appSettings>
